*.DS_Store
.idea/

*.zip
*.tar
*.class
target/

*.jar

build/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
dask
github-copilot
mc
jgit
rclone
dygma
topgrade.d
yarn
