(
    selection_bg: Some("Light Yellow"),
    selection_fg: Some("Black"),
    cmdbar_bg: Some("Black"),
    cmdbar_extra_lines_bg: Some("Black"),
    commit_hash: Some("Red"),
    commit_time: Some("Blue"),
    commit_author: Some("Green"),
    danger_fg: Some("Red"),
    branch_fg: Some("Magenta")
)
